<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>All Ads</h2>
    </div>

    <form class="table-search" #searchForm=ngForm>
      <input type="text"
             #searchInput
             name="searchTerm"
             autocomplete="off"
             ngModel placeholder="Search">
      <button><i class="fa fa-search"></i></button>
    </form>

    <div class="action">

     <button *ngIf="checkAddPermission" mat-raised-button color="accent" [routerLink]="['../', 'add-product']">
       <mat-icon>add</mat-icon>
       Add Ads
      </button>
    </div>

  </div> 
  <!-- END TOP DATA HEADER -->

  <div class="action-multiple">

    <div class="sort">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menuCat">
        Category
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuCat="matMenu">
        <button *ngFor="let data of categories; let i = index" mat-menu-item
                (click)="filterData(data._id, i, 'category')"
                [class.dropdown-active]="activeFilterIndex === i">
          {{data.name}}
        </button>
      </mat-menu>
    </div>

  </div>

  <hr class="center-square">

  <div class="table-wrapper space">

    <div class="table-action" [class.dual]="activeSort || filter">
      <div class="left" *ngIf="activeSort || filter">
        <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon>
          Clear FilterData
        </button>
      </div>

      <div class="right" *ngIf="selectedIds && selectedIds.length">
        <button *ngIf="checkEditPermission" mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
          Change Status
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'publish'})">Publish</button>
          <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'draft'})">Draft</button>
        </mat-menu>

        <button *ngIf="checkEditPermission" mat-stroked-button color="primary" [matMenuTriggerFor]="matMenuFlash">
          Is Flash Sale?
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #matMenuFlash="matMenu">
          <button mat-menu-item (click)="openConfirmDialog('edit', {isFeatured: true})">Yes</button>
          <button mat-menu-item (click)="openConfirmDialog('edit', {isFeatured: false})">No</button>
        </mat-menu>


        <button *ngIf="checkEditPermission" mat-stroked-button color="primary" [matMenuTriggerFor]="matMenuRegion">
          Is Region Show?
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #matMenuRegion="matMenu">
          <button mat-menu-item (click)="openConfirmDialog('edit', {isRegion: true})">Yes</button>
          <button mat-menu-item (click)="openConfirmDialog('edit', {isRegion: false})">No</button>
        </mat-menu>

        <button *ngIf="checkDeletePermission" mat-stroked-button color="warn" (click)="openConfirmDialog('delete', null)"
                matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div> <!-- END Table Action -->

    <table>
      <tr>
        <th class="t-checkbox">
          <mat-checkbox #matCheckbox (change)="onAllSelectChange($event)"></mat-checkbox>
        </th>
        <th>Title/Name</th>
        <th>Category</th>
        <th>Region</th>
        <th>Status</th>
        <th>Region Show</th>
        <th>Actions</th>
      </tr>
      <tr
        *ngFor="let data of products | paginate: { itemsPerPage: productsPerPage, currentPage: currentPage, totalItems: productCount } ; let i = index">
        <td class="t-checkbox">
          <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                        (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.category?.name}}</td>
        <td>{{data.division?.name}}</td>
        <td [style.color]="data.status === 'publish' ? 'green' : 'red'">{{data.status | titlecase}}</td>
        <td [style.color]="data.isRegion  ? 'green' : 'red'">{{data.isRegion ? 'Yes' : 'No'}}</td>
        <td class="td-action">
          <button [disabled]="data._id === adminId || !checkEditPermission"
                  [routerLink]="['../', 'edit-product', data._id]" mat-mini-fab matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button style="margin-left: 5px;" mat-mini-fab color="primary" (click)="openExternalUrl(data._id)"  matTooltip="View">
            <mat-icon>visibility</mat-icon>
        </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="pagination-container">
    <pagination-controls
      class="data-pagination"
      [autoHide]="true"
      [maxSize]="productsPerPage"
      (pageChange)="onPageChanged($event)">
    </pagination-controls>
  </div>    
   <!-- END PAGINATION -->


  <!-- LOADING TEMPLATE -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</section>
