<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>All Review</h2>
    </div>

    <form class="table-search" #searchForm="ngForm">
      <input
        type="text"
        #searchInput
        name="searchTerm"
        autocomplete="off"
        ngModel
        placeholder="Search"
      />
      <button><i class="fa fa-search"></i></button>
    </form>

    <div class="action">


      <div class="sort">
        <button
          mat-raised-button
          color="primary"
          [matMenuTriggerFor]="menuSort"
        >
          Sort By
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuSort="matMenu">
          <button
            mat-menu-item
            (click)="sortData({ updatedAt: -1 }, 1)"
            [class.dropdown-active]="activeSort === 1"
          >
            Last Last Login
          </button>
          <button
            (click)="sortData({ name: 1 }, 2)"
            mat-menu-item
            [class.dropdown-active]="activeSort === 2"
          >
            Most A-Z
          </button>
        </mat-menu>
        <button *ngIf="checkAddPermission" mat-raised-button  color="primary" [routerLink]="['../', 'add-review']" style="margin-left: 10px;">
          <mat-icon>add</mat-icon>
          Add Review
        </button>
      </div>
    </div>
  </div>
  <!-- END TOP DATA HEADER -->

  <hr class="center-square" />

  <div class="table-wrapper space">
    <div class="table-action" [class.dual]="activeSort || filter">
      <div class="left" *ngIf="activeSort || filter">
        <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
          <mat-icon>close</mat-icon>
          Clear FilterData
        </button>
      </div>

      <div class="right" *ngIf="selectedIds && selectedIds.length">


        <button
          *ngIf="checkDeletePermission"
          mat-stroked-button
          color="warn"
          (click)="openConfirmDialog('delete')"
          matTooltip="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <!-- END Table Action -->

    <table>
      <tr>
        <th class="t-checkbox" class="mat-check">
          <mat-checkbox
            #matCheckbox
            (change)="onAllSelectChange($event)"
          ></mat-checkbox>
        </th>
        <th>PRODUCT IMAGE</th>
        <th>PRODUCT NAME</th>
        <th>USER NAME</th>
        <th>REVIEW DATE</th>
        <th>REVIEW</th>
        <th>STATUS</th>
        <th>RATING</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="
                let data of reviews
                  | paginate
                    : {
                        itemsPerPage: ReviewsPerPage,
                        currentPage: currentPage,
                        totalItems: totalReviews
                      };
                let i = index
              " class="table-hover">
        <td class="t-checkbox">
          <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                        (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
        </td>
        <td class="product-img">
          <img checkImageDefault [src]="data?.product?.images"  alt=""

          />
        </td>

        <td>{{ data?.product?.name || "-" | uppercase }}</td>
        <!-- <td>{{ data.product || "-" | uppercase }}</td> -->
        <td>{{ data?.user?.name || "-" | uppercase }}</td>
        <td>{{ data.reviewDate | date }}</td>
        <td>{{ data.review || "-" | uppercase }}</td>
        <td>{{ data.status  }}</td>
        <td>{{ data.rating }}</td>

        <td class="button">
          <button mat-mini-fab color="accent" [routerLink]="['../edit-review/', data._id]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="pagination-container">
    <pagination-controls
      class="data-pagination"
      [autoHide]="true"
      [maxSize]="15"
      (pageChange)="onPageChanged($event)"
    >
    </pagination-controls>
  </div>
  <!-- END PAGINATION -->

</section>

<!-- TEMPLATE NGX SPINNER-->
<ngx-spinner bdColor = "rgba(0,0,0,0.3)" size = "medium" color = "#fff" type = "ball-scale-pulse" [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
