@import "src/theme/exports/table-scroll";
@import "src/theme/exports/search-table";
@import "src/theme/exports/top-data-header";

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $color-accent;
}

.table-search  button {
  background-color: #f190334f;
  color: $color-accent;
}

::ng-deep.mat-check .mat-checkbox-frame{
  border-color: #fff;
}





