// Fonts Family
$font-en-poppins: "Poppins", sans-serif;
$font-en-nunito: "Nunito Sans", sans-serif;
$font-en-primary: $font-en-nunito;

// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;

// BREAKPOINTS
$max-tablet-width: 899px;
$color-primary-3: #5bb8fa;
$black-color: #000;
$color-border: #e8e8e8;
$red-color: red;
$heading-color: #2f2f2f;
$input-color: #2f2f2f9c;
$text-color: #4f4f4f;
$text-color-two: #777777;
$border-color: rgb(155, 155, 155);
$border-color-two: rgb(193, 193, 193);
$pink-color: rgb(245, 77, 163);
$pink-color-two: #f54da3;
$submit-btn-color: #f54da3;
$mobile-menu-color: #afb7ad;
// COLOR
$color-secondary: #ff7542;
$color-primary: #c23373;
$color-accent: #c23373;
$color-dashboard: #151515;
$color-font-color: #fff;
$color-table: #151515;
$color-table-font-color: #fff;
$color-black: white;

//BACKGROUND COLOR
$bg-primary: #c23373;
$bg-secondary: #51224f4a;
//hover sub menu bg color
$bg-three: #51224f4a;
$bg-menu-hover: #51224f4a;

//$color-accent f6383e
