@import "src/theme/variables";

.form-input-select {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0px;
  }

  label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $text-color;
    font-family: $font-en-primary;
    padding-bottom: 8px;

    span {
      //color: $submit-btn-color;
      font-size: 18px;
    }
  }

  p {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $text-color;
    font-family: $font-en-primary;
    padding-bottom: 8px;

    span {
      //color: $submit-btn-color;
      font-size: 18px;
    }
  }

  .select-main {
    border: 1px solid $border-color;
    border-radius: 3px;
    overflow: hidden;

    select {
      width: 100%;
      height: 40px;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      color: $input-color;
      outline: 0;
      padding: 0 8px;
      border: none;
      border-right: 7px solid transparent;

      &.active {
        border: 1px solid $red-color;
      }
    }
  }

  .input-main {
    input,
    textarea {
      width: 100%;
      height: 40px;
      font-family: $font-en-primary;
      font-size: 15px;
      font-weight: 400;
      color: $input-color;
      outline: 0;
      padding: 0 8px;
      border: 1px solid $border-color;
      border-radius: 3px;

      &.active {
        border: 1px solid $red-color;
      }
    }

    textarea {
      height: auto;
      resize: vertical;
    }

    quill-editor {
      height: 110px;
    }

    h4 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
      color: $text-color-two;
      font-family: $font-en-primary;
      padding-top: 6px;
      font-style: italic;
    }
  }

  .input-main.social-input {
    input {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .file-main {
    .images {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      .submit-img {
        img {
          width: 100px;
          height: 120px;
          object-fit: cover;
        }
      }

      .select-image {
        position: relative;
        width: 100px;
        height: 120px;
        background-color: #eeeeee;

        .add-del {
          background-color: #f8f8f8;
          position: absolute;
          top: 0;
          right: 0;

          a {
            width: 30px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              color: #008000;
              font-size: 16px;
            }

            i.fa-trash {
              color: red;
            }
          }
        }
      }
    }
  }

  .form-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    label {
      padding: 0px;
    }

    input {
      width: 16px;
      height: 16px;
    }

    .form-check-child {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      label {
        color: $text-color-two;
        font-size: 15px;
        font-weight: 400;
        padding: 0px;
      }
    }
  }

  .input-radio {
    .input-radio-child {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
      gap: 8px;
      padding-left: 9px;

      &:last-child {
        margin-bottom: 0px;
      }

      input {
      }

      label {
        color: $text-color-two;
        font-size: 15px;
        font-weight: 400;
        padding: 0px;
      }
    }
  }
}



.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

 mat-radio-button {
  margin: 5px;
}

.form-array-container {
  width: 100%;
}

.add-form-array-action {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.example-section1 {
  margin: 12px 0;
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
}
.week-list{
  display: flex;
}
.week{
  width: 100px!important;
}


.example-section {
  display: flex;
  p{
    margin: 0 5px;
  }
}

.description-div{
  margin: 25px 0;
  h4{

  }
}

.image-uploads {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    color: #1d1d1d;
  }
}

.card {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  cursor: pointer;

  .images {
    position: relative;
    opacity: 0.9;
  }

  .hover-button {
    position: absolute;
    top: 39px;
    left: 40px;
    display: none;

    a {
      img {
        width: 20px;
        margin-top: -37px;
        // opacity: 0.6;

      }
    }
  }
  img {
    width: 115px;
    height: 53px;
    margin-left: 2px;
  }
}
.images:hover .hover-button {
  display: block;
  opacity: 1;
  transition: all 0.5s ease;
}


.top-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    h2 {
      font-family: $font-en-primary;
      color: #6f6f6f;
      font-size: 24px;
    }
  }

  .action-btn {
    display: flex;
    gap: 10px;

    button {
      width: 140px;
    }
  }

}


.container-fluid {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main {
  flex: 7;
  //height: 200px;
  //background: #28ffb5;
  margin: 10px 12px;
}

.sidebar {
  flex: 3;
  //height: 200px;
  //background: #2894ff;
  margin: 10px 12px 0 10px;
}

.border-dashed {
  border: 2px dashed #9f9f9f;
}

.content-main {
  margin-bottom: 24px;

  .title {
    margin-bottom: 6px;
  }
}

.content-sidebar {
  margin-bottom: 24px;

  .title {
    margin-bottom: 6px;
  }

  .check-option {
    margin-top: 0;
    padding-left: 6px;
  }
}

.content-2 {

  .image-container {
    width: 100%;
    height: 250px;
    border-radius: 12px;

  }

  .picker {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .action {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        span {
          font-size: 42px;
          color: #7b7b7b;
        }
      }

      p {
        padding-top: 6px;
        color: #7b7b7b;
      }
    }
  }

  .img-preview-container {
    width: 100%;
    height: 100%;
    //margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    //margin-top: 16px;
    place-items: center;
    .preview {
      position: relative;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      height: 150px;
      overflow: hidden;
      cursor: pointer;
      padding: 5px;

      &:hover {
        .overlay-ac {
          visibility: visible;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .overlay-ac {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        background: rgba(6, 6, 6, 0.19);

        button {
          mat-icon {
            color: orangered;
          }
        }
      }
    }

    .add-more {
      width: 90%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px dashed #9f9f9f;
      border-radius: 12px;

      .action {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          span {
            font-size: 42px;
            color: #7b7b7b;
          }
        }

        p {
          text-align: center;
          padding-top: 6px;
          color: #7b7b7b;
        }
      }
    }

  }
}

.content-3 {
  .check-option {
    margin-top: 0;
    padding-left: 6px;
  }
}

.variations, .specifications {
  width: 100%;
  padding: 10px;
  margin-bottom: 24px;
  //min-height: 200px;

  .select-single {
    max-width: 350px;
    width: 100%;
  }




}

/**
FORM ARRAY
 */

.form-array-container {
  width: 100%;
}

.add-form-array-action {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

/**
FORM BUILDER
 */
.form-array-input {
  width: 100%;

  .single-field {
    width: 100%;
    display: flex;
    gap: 8px;

    mat-form-field {
      flex: 1;
    }

    .variation-img {
      position: relative;
      width: 60px;
      height: 60px;

      .btn-img-remove {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }

      &:hover {
        .btn-img-remove {
          display: block;
        }
      }
    }
    .btn-form-field-remove {
      margin-top: 10px;
    }
  }
}

.submit-btn {
  margin-top: 25px;
  margin-bottom: 25px;

  padding: 4px 30px;
}



@media (min-width:300px) and (max-width:600px){
  .container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .top-input {

    display: flex;
    flex-direction: column;

}
}



.content-2 {

  .image-container {
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 2px dashed #9f9f9f;
    margin-bottom: 25px;
    padding: 2% 0;
  }

  .picker {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .action {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        span {
          font-size: 42px;
          color: #7b7b7b;
        }
      }

      p {
        padding-top: 6px;
        color: #7b7b7b;
      }
    }
  }

  .img-preview-container {
    width: 100%;
    height: 100%;
    //margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    //margin-top: 16px;
    place-items: center;
    .preview {
      position: relative;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      height: 150px;
      overflow: hidden;
      cursor: pointer;
      padding: 5px;

      &:hover {
        .overlay-ac {
          visibility: visible;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .overlay-ac {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        background: rgba(6, 6, 6, 0.19);

        button {
          mat-icon {
            color: orangered;
          }
        }
      }
    }

    .add-more {
      width: 90%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px dashed #9f9f9f;
      border-radius: 12px;

      .action {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          span {
            font-size: 42px;
            color: #7b7b7b;
          }
        }

        p {
          text-align: center;
          padding-top: 6px;
          color: #7b7b7b;
        }
      }
    }

  }
}


