<form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="top-input">
    <div class="title">
      <h2>{{ id ? "Edit" : "Add New" }} Product</h2>
    </div>
    <div class="action-btn">
      <button mat-stroked-button color="warn" type="button">Discard</button>

      <button mat-raised-button color="primary" type="submit">
        {{ id ? "Update" : "Save"
        }}{{
        dataForm.value.status
          ? " (" + (dataForm.value.status | titlecase) + ")"
          : ""
        }}
      </button>
    </div>
  </div>
  <!-- END Input Form Header -->

  <div class="container-fluid">
    <div class="main">
      <mat-card class="content-main content-1">
<!--        <mat-form-field appearance="outline" class="w-100">-->
<!--          <mat-label>Name</mat-label>-->
<!--          <input formControlName="name" matInput placeholder="Enter full name" />-->
<!--          <mat-error>This field is required</mat-error>-->
<!--        </mat-form-field>-->

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>The Title</mat-label>
          <input formControlName="title" matInput placeholder="Enter ad title" required/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Age</mat-label>
          <input formControlName="age" matInput placeholder="Enter age" required/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Height</mat-label>
          <input formControlName="height" matInput placeholder="Enter your height in cm" required/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Weight</mat-label>
          <input formControlName="weight" matInput placeholder="Enter Kg" required/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <div class="">
          <h4>Running Out</h4>
          <mat-radio-group aria-label="Select an option" formControlName="runningOut" class="example-radio-group">
            <mat-radio-button value="Yes">Yes</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="Hotels only">Hotels only</mat-radio-button>
            <mat-radio-button value="Has own place">Has own place</mat-radio-button>
          </mat-radio-group>
        </div>


        <div class="example-section">
          <h4>Accepts People:</h4>
          <p>
            <mat-checkbox formControlName="acceptsPeople">Yes</mat-checkbox>
          </p>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Size</mat-label>
          <input formControlName="size" matInput placeholder="Size in cm" required/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>


        <div class="">
          <h4>Description</h4>

          <quill-editor #editor
                        [modules]="modules"
                        [sanitize]="true"
                        classes="additional"
                        formControlName="description"></quill-editor>

        </div>

        <div class="description-div">
          <h4>Short Description</h4>

          <quill-editor #editor
                        [modules]="modules"
                        [sanitize]="true"
                        classes="additional"
                        formControlName="shortDescription"></quill-editor>
        </div>
      </mat-card>
      <!-- END CONTENT PART 1 -->

      <mat-card class="content-main content-3">
        <div class="title">
          <h4>Opening hours</h4>
        </div>

<!--        <div class="form-array-container">-->

<!--          <div formArrayName="dayHours" class="form-array-input">-->
<!--            <div class="single-field"-->
<!--                 *ngFor="let data of dayHoursArray?.controls; let i = index"-->
<!--                 [formGroupName]="i">-->

<!--              <mat-form-field appearance="outline">-->
<!--                <mat-label>Select Day {{i + 1}}</mat-label>-->
<!--                <mat-select formControlName="day" required>-->
<!--                  <mat-option *ngFor="let m of allDays" [value]="m.value">-->
<!--                    {{m.viewValue}}-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error>This field is required.</mat-error>-->
<!--              </mat-form-field>-->

<!--              &lt;!&ndash;                <mat-form-field appearance="outline">&ndash;&gt;-->
<!--              &lt;!&ndash;                  <mat-label>Available Hour Info</mat-label>&ndash;&gt;-->
<!--              &lt;!&ndash;                  <input formControlName="hour" matInput placeholder="Ex. 08AM to 05 PM" type="text">&ndash;&gt;-->
<!--              &lt;!&ndash;                </mat-form-field>&ndash;&gt;-->

<!--              <mat-form-field appearance="outline">-->
<!--                <mat-label>Start Time</mat-label>-->
<!--                <input matInput [format]="24" formControlName="startHour" [ngxMatTimepicker]="picker" />-->
<!--                <ngx-mat-timepicker #picker></ngx-mat-timepicker>-->
<!--              </mat-form-field>-->

<!--              <input type="time" id="appt" name="appt" min="09:00" max="18:00" required />-->
<!--              <input type="time" id="time-input" step="3600">-->
<!--              <input type="time" name="appt" id="input-pickuptime" min="00:00" max="23:59" required>-->
<!--              &lt;!&ndash;                <ngx-mat-timepicker-field color="warn" formControlName="startHour"&ndash;&gt;-->
<!--              &lt;!&ndash;                                          [format]="24"&ndash;&gt;-->
<!--              &lt;!&ndash;                                          [defaultTime]="'23:11'"></ngx-mat-timepicker-field>&ndash;&gt;-->

<!--              <mat-form-field appearance="outline">-->
<!--                <mat-label>End Time</mat-label>-->
<!--                <input matInput [format]="24" formControlName="endHour" [ngxMatTimepicker]="picker1" />-->
<!--                <ngx-mat-timepicker #picker1></ngx-mat-timepicker>-->
<!--              </mat-form-field>-->


<!--              &lt;!&ndash;                <mat-form-field>&ndash;&gt;-->
<!--              &lt;!&ndash;                  <input matInput&ndash;&gt;-->
<!--              &lt;!&ndash;                         name="selected_time_B"&ndash;&gt;-->
<!--              &lt;!&ndash;                         format="24"&ndash;&gt;-->
<!--              &lt;!&ndash;                         formControlName="endHour1"&ndash;&gt;-->
<!--              &lt;!&ndash;                         [ngxMatTimepicker]="pickerB"&ndash;&gt;-->
<!--              &lt;!&ndash;                         placeholder="16:00"&ndash;&gt;-->
<!--              &lt;!&ndash;                         readonly />&ndash;&gt;-->
<!--              &lt;!&ndash;                  <mat-icon matSuffix&ndash;&gt;-->
<!--              &lt;!&ndash;                            (click)="pickerB.open()">&ndash;&gt;-->
<!--              &lt;!&ndash;                    watch_later&ndash;&gt;-->
<!--              &lt;!&ndash;                  </mat-icon>&ndash;&gt;-->
<!--              &lt;!&ndash;                </mat-form-field>&ndash;&gt;-->
<!--              &lt;!&ndash;                <ngx-mat-timepicker color="accent"&ndash;&gt;-->
<!--              &lt;!&ndash;                                    #pickerB></ngx-mat-timepicker>&ndash;&gt;-->

<!--              <button type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('dayHours', i)">-->
<!--                <mat-icon>delete</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="add-form-array-action">-->
<!--            <button type="button" mat-raised-button color="primary" (click)="onAddNewFormArrayObject('dayHours')">-->
<!--              <mat-icon>add</mat-icon>-->
<!--              Add Available Day & Hours-->
<!--            </button>-->

<!--          </div>-->

<!--        </div>-->



        <div class="days-complex">
          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check">
                <label for="monday">Monday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="monday" value="true" formControlName="monday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.monday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="mondaySlot" value="Yes" formControlName="mondaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.mondaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="mondayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of mondayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('mondayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('mondayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->

          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check">
                <label for="tuesday">Tuesday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="tuesday" value="true" formControlName="tuesday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.tuesday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="tuesdaySlot" value="Yes" formControlName="tuesdaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.tuesdaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="tuesdayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of tuesdayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('tuesdayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('tuesdayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->
          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check">
                <label for="tuesday">Wednesday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="wednesday" value="true" formControlName="wednesday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.wednesday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="wednesdaySlot" value="Yes" formControlName="wednesdaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.wednesdaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="tuesdayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of wednesdayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('wednesdayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('wednesdayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->
          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check">
                <label for="tuesday">Thursday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="thursday" value="true" formControlName="thursday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.thursday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="thursdaySlot" value="Yes" formControlName="thursdaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.thursdaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="thursdayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of thursdayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('thursdayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('thursdayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->
          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check">
                <label for="tuesday">Friday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="friday" value="true" formControlName="friday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.friday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="fridaySlot" value="Yes" formControlName="fridaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.fridaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="fridayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of fridayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('fridayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('fridayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->
          <div class="day-item">
            <div class="form-input-select">
              <div class="form-check date-hour">
                <label for="tuesday">Saturday</label>
                <div class="form-check-child">
                  <input type="checkbox" id="saturday" value="true" formControlName="saturday"/>
                  <label for="Accepts">Open</label>
                </div>
              </div>
            </div>

            <div [style.display]="dataForm.value.saturday ? 'block' : 'none'" class="form-input-select" style="margin-left: 76px; margin-top: -15px;">
              <div class="form-check">
                <div class="form-check-child">
                  <input type="checkbox" id="saturdaySlot" value="Yes" formControlName="saturdaySlot"/>
                  <label for="Accepts">Do you want to set an hour slot? (default all day long)</label>
                </div>
              </div>
            </div>


            <div [style.display]="dataForm.value.saturdaySlot ? 'block' : 'none'" class="form-array-container" style="margin-left: 76px; margin-top: -15px;">

              <div formArrayName="saturdayHours" class="form-array-input">
                <div class="single-field"
                     *ngFor="let data of saturdayHoursArray?.controls; let i = index; let last = last"
                     [formGroupName]="i">

                  <div class="form-input-select time-picker">
                    <label for="startHour">Start</label>
                    <div class="input-main">
                      <input type="time" id="startHour" placeholder="Enter kg" formControlName="startHour"/>
                    </div>
                  </div>

                  <div class="form-input-select time-picker">
                    <label for="endHour">End</label>
                    <div class="input-main">
                      <input type="time" id="endHour" placeholder="Enter kg" formControlName="endHour"/>
                    </div>
                  </div>

                  <button *ngIf="!last" type="button" mat-mini-fab color="warn" (click)="removeFormArrayField('saturdayHours', i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="last" type="button" mat-mini-fab color="primary" (click)="onAddNewFormArrayObject('saturdayHours')">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div> <!-- END Day Item -->
        </div>



        <div class="example-section">
          <p>
            <mat-checkbox formControlName="specialHours">Special Hours - Overrides</mat-checkbox>
          </p>
        </div>
      </mat-card>
      <!-- END CONTENT PART 3 -->

      <mat-card class="content-main content-2">
        <div class="title">
          <h4>Media</h4>
        </div>

        <div class="content-main content-2">
          <div class="image-container" [ngClass]="{'border-dashed': !chooseImage.length}">
            <div class="picker" *ngIf="!chooseImage.length">
              <div class="action">
                <div class="icon">
                  <span class="material-icons">cloud_upload</span>
                </div>
                <button type="button" mat-stroked-button color="accent" (click)="openGalleryDialog()">
                  Pick Images
                </button>
                <p>Maximum 10 Image you can upload</p>
              </div>
            </div> <!-- END Picker Area -->

            <div *ngIf="chooseImage && chooseImage.length" class="img-preview-container" cdkDropList
                 cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
              <div class="preview" *ngFor="let data of chooseImage" cdkDrag>
                <img [src]="data" [alt]="data">
                <div class="overlay-ac">
                  <button type="button" mat-icon-button color="warn" (click)="removeSelectImage(data)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="add-more" *ngIf="chooseImage.length < 10">
                <div class="icon">
                  <span class="material-icons">cloud_upload</span>
                </div>
                <button type="button" mat-stroked-button color="accent" (click)="openGalleryDialog()">
                  Pick Images
                </button>
              </div>
            </div>

          </div>


        </div>


      </mat-card>
      <!-- END CONTENT PART 2 -->

<!--      <mat-card class="content-main content-3">-->
<!--        <div class="title">-->
<!--          <h4>Video URL</h4>-->
<!--        </div>-->

<!--        <mat-form-field appearance="outline" class="w-100">-->
<!--          <mat-label>Video Url</mat-label>-->
<!--          <input formControlName="videoUrl" matInput placeholder="Youtube and Vimeo URL only"/>-->
<!--          <mat-error>This field is required</mat-error>-->
<!--        </mat-form-field>-->
<!--      </mat-card>-->
      <!-- END CONTENT PART 3 -->

      <mat-card class="content-main content-3">
        <div class="title">
          <h4>Contact Information</h4>
        </div>

        <div class="form-input-select">
          <label for="">Region <span>*</span></label>
          <div class="select-main">
            <select (change)="onChangeRegion($event)" formControlName="division" required>
              <option  value="null" >Select Region</option>
              <option [value]="d?._id" *ngFor="let d of divisions">{{d?.name}}</option>
            </select>
          </div>
          <span class="invalid-txt" *ngIf="dataForm?.get('region')?.touched && dataForm.get('region')?.invalid">This
              field is required</span>
        </div>

        <div class="form-input-select" *ngIf="area && area.length">
          <label for="">Area <span>*</span></label>
          <div class="select-main">
            <select (change)="onChangeArea($event)" formControlName="area" required>
              <option [value]="a?._id" *ngFor="let a of area">{{a?.name}}</option>
            </select>
          </div>
          <span class="invalid-txt" *ngIf="dataForm?.get('area')?.touched && dataForm.get('area')?.invalid">This
              field is required</span>
        </div>

        <div class="form-input-select" *ngIf="zone && zone.length">
          <label>City <span>*</span></label>
          <div class="select-main">
            <select formControlName="zone">
              <option [value]="z?._id" *ngFor="let z of zone">{{z?.name}}</option>
            </select>
          </div>
          <span class="invalid-txt" *ngIf="dataForm?.get('zone')?.touched && dataForm.get('zone')?.invalid">This
              field is required</span>
        </div>




<!--        <mat-form-field appearance="outline" class="w-100">-->
<!--          <mat-label>Region</mat-label>-->
<!--          <mat-select  (change)="onChangeRegion($event)" formControlName="division" required>-->
<!--            <mat-option [value]="d?._id" *ngFor="let d of divisions">-->
<!--              {{d?.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error>This field is required.</mat-error>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field appearance="outline" *ngIf="area && area.length" class="w-100">-->
<!--          <mat-label>Division</mat-label>-->
<!--          <mat-select (change)="onChangeArea($event)" formControlName="area" required>-->
<!--            <mat-option [value]="a?._id" *ngFor="let a of area">-->
<!--              {{a?.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error>This field is required.</mat-error>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field appearance="outline" *ngIf="zone && zone.length" class="w-100">-->
<!--          <mat-label>City</mat-label>-->
<!--          <mat-select  formControlName="zone" required>-->
<!--            <mat-option [value]="z?._id" *ngFor="let z of zone">-->
<!--              {{z?.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-error>This field is required.</mat-error>-->
<!--        </mat-form-field>-->

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Zip Codes</mat-label>
          <input formControlName="zipCode" matInput placeholder="Enter Zip Codes"/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address</mat-label>
          <textarea formControlName="address" matInput placeholder="Enter Address"
                    [rows]="4"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Phone</mat-label>
          <input formControlName="phone" matInput placeholder="Enter phone"/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Whatsapp Number</mat-label>
          <input formControlName="whatsapp" matInput placeholder="Enter Whatsapp Number"/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter email"/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Homepage</mat-label>
          <input formControlName="homePage" matInput placeholder="Enter Homepage (by G Https://Example.com)"/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>

      </mat-card>
      <!-- END CONTENT PART 3 -->


      <mat-card class="content-main content-3">
        <div class="title">
          <h4>Pricing</h4>
        </div>


        <quill-editor #editor
                      [modules]="modules"
                      [sanitize]="true"
                      classes="additional"
                      formControlName="pricing"></quill-editor>

<!--        <mat-form-field appearance="outline" class="w-100">-->
<!--          <mat-label>Unit Name</mat-label>-->
<!--          <input formControlName="unit" matInput placeholder="Ex. 1kg"/>-->
<!--          <mat-error>This field is required</mat-error>-->
<!--        </mat-form-field>-->

<!--        <div class="input-area" fxLayout="row wrap">-->
<!--&lt;!&ndash;          <mat-form-field appearance="outline" class="w-100 px-1">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>Cost Price</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input formControlName="costPrice" matInput placeholder="Enter cost price" type="number"&ndash;&gt;-->
<!--&lt;!&ndash;                   pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-error>This field is required</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->

<!--          <mat-form-field appearance="outline" class="w-100 px-1">-->
<!--            <mat-label>Sale Price</mat-label>-->
<!--            <input formControlName="salePrice" matInput placeholder="Enter sale price" type="number"-->
<!--                   pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true"/>-->
<!--            <mat-error>This field is required</mat-error>-->
<!--          </mat-form-field>-->


<!--&lt;!&ndash;          <mat-form-field appearance="outline" class="w-100 px-1">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>EMI Price</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input formControlName="emiAmount" matInput placeholder="Enter EMI price" type="number"&ndash;&gt;-->
<!--&lt;!&ndash;                   pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-error>This field is required</mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->
<!--        </div>-->
      </mat-card>
      <!-- END CONTENT PART 3 -->

      <!-- <mat-card class="content-main content-4">
        <div class="title">
          <h4>Others</h4>
        </div>

        <div class="input-area" fxLayout="row wrap">
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>SKU</mat-label>
            <input formControlName="sku" matInput placeholder="Enter full name"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>EMI Month</mat-label>
            <mat-select formControlName="emiMonth" multiple>
              <mat-option *ngFor="let data of emiMonths" [value]="data.value">
                {{ data.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>


          <mat-form-field *ngIf="getEmiInput(3) && getEmiInput(3) === 3   " appearance="outline" class="w-100">
            <mat-label>EMI Month 3 Month Price</mat-label>
            <input formControlName="threeMonth" matInput placeholder="EMI Month Three Month Price"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="getEmiInput(6) && getEmiInput(6) === 6   " appearance="outline" class="w-100">
            <mat-label>EMI Month 6 Month Price</mat-label>
            <input formControlName="sixMonth" matInput placeholder="EMI Month Six Month Price"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="getEmiInput(12) && getEmiInput(12) === 12   " appearance="outline" class="w-100">
            <mat-label>EMI Month 12 Month Price</mat-label>
            <input formControlName="twelveMonth" matInput placeholder="EMI Month Twelve Month Price"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Discount Type</mat-label>
            <mat-select formControlName="discountType">
              <mat-option> none</mat-option>
              <mat-option *ngFor="let data of discountTypes" [value]="data.value">
                {{ data.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Discount Amount</mat-label>
            <input formControlName="discountAmount" matInput placeholder="Enter discount amount" type="number"
                   pattern="^\d+(\.\d{1,2})?$" digitOnly [decimal]="true" [required]="dataForm.value['discountType']"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Cart Limit Quantity</mat-label>
            <input formControlName="cartLimit" matInput placeholder="Enter cart limit quantity" type="number" digitOnly
                   [decimal]="true"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="dataForm.value['trackQuantity']" appearance="outline" class="w-100 px-1">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput placeholder="Enter quantity" digitOnly [allowNegatives]="true"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
        </div>

        <div class="check-option">
          <mat-checkbox formControlName="trackQuantity">Track quantity
          </mat-checkbox>
        </div>
      </mat-card> -->
      <!-- END CONTENT PART 4 -->

      <!-- <mat-card class="specifications">
        <div class="form-array-container">

          <mat-form-field appearance="outline">
            <mat-label>Feature Title</mat-label>
            <input formControlName="featureTitle" type="text" matInput [placeholder]="'Enter Feature Title'"/>
          </mat-form-field>


          <div formArrayName="features" class="form-array-input">
            <div class="single-field" *ngFor="
                let data of featuresDataArray?.controls;
                let i = index
              " [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput [placeholder]="'Enter Name'"/>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>

                <textarea formControlName="value" matInput placeholder="Enter value"
                          [rows]="1"></textarea>
              </mat-form-field>


              <button class="btn-form-field-remove" type="button" mat-mini-fab color="warn"
                      (click)="removeFeaturesFormArrayField('features', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="add-form-array-action">
            <button type="button" mat-raised-button color="primary" (click)="onAddNewFeatures()">
              <mat-icon>add</mat-icon>
              Create New Features
            </button>
          </div>
        </div>

      </mat-card> -->


      <!-- <mat-card class="specifications">
        <div class="form-array-container">
          <div formArrayName="specifications" class="form-array-input">
            <div class="single-field" *ngFor="
                let data of specificationDataArray?.controls;
                let i = index
              " [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput [placeholder]="'Enter Name'"/>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Value</mat-label>

                <textarea formControlName="value" matInput placeholder="Enter value"
                          [rows]="1"></textarea>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <input formControlName="type" type="text" matInput [placeholder]="'Enter Value'"/>
              </mat-form-field>

              <button class="btn-form-field-remove" type="button" mat-mini-fab color="warn"
                      (click)="removeFormArrayField('specifications', i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>

          <div class="add-form-array-action">
            <button type="button" mat-raised-button color="primary" (click)="onAddNewSpecifications()">
              <mat-icon>add</mat-icon>
              Create New Specification
            </button>
          </div>
        </div>

      </mat-card> -->


      <!-- <mat-card class="content-main content-5">
        <div class="title">
          <h4>SEO</h4>
        </div>

        <div class="input-area" fxLayout="row wrap">
          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Title</mat-label>
            <input formControlName="seoTitle" matInput placeholder="Enter seo title"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 px-1">
            <mat-label>Keywords</mat-label>
            <input formControlName="seoKeywords" matInput placeholder="Enter seo keywords with comma"/>
            <mat-error>This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea formControlName="seoDescription" matInput placeholder="Enter seo description"
                      [rows]="6"></textarea>
          </mat-form-field>
        </div>
      </mat-card> -->
      <!-- END CONTENT PART 3 -->
    </div>
    <!-- END! MAIN AREA -->

    <div class="sidebar">
      <mat-card class="content-sidebar content-sidebar-0">
        <div class="title">
          <h4>Status</h4>
        </div>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let data of productStatus" [value]="data.value">
              {{ data.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </mat-card>
      <!-- END CONTENT SIDEBAR 2 -->

      <mat-card class="content-sidebar content-sidebar-1">
        <div class="title">
          <h4>Catalog</h4>
        </div>

        <p><mat-checkbox formControlName="verified">Verified</mat-checkbox></p>

        <app-category-select [controlName]="categoryCtrl" [required]="true" placeholder="Category"
                             [data]="product ? product.category : null" (onSelect)="onCategorySelect($event)">
        </app-category-select>

<!--        <app-sub-category-select [controlName]="subCategoryCtrl" [required]="true" placeholder="Sub Category"-->
<!--                                 [data]="product ? product.subCategory : null" [categoryId]="-->
<!--            product ? product?.category?._id : selectedCategory?._id-->
<!--          ">-->
<!--        </app-sub-category-select>-->


        <!--        <app-brand-select [controlName]="brandCtrl" [required]="true" placeholder="Brand"-->
        <!--                          [data]="product ? product.brand : null">-->
        <!--        </app-brand-select>-->
        <!--        -->
<!--        <app-author-select [controlName]="authorCtrl" [required]="true" placeholder="Author"-->
<!--                           [data]="product ? product.author : null">-->
<!--        </app-author-select>-->

<!--        <app-publisher-select [controlName]="publisherCtrl" [required]="true" placeholder="Publisher"-->
<!--                              [data]="product ? product.publisher : null">-->
<!--        </app-publisher-select>-->

        <app-type-select [controlName]="typeCtrl" [required]="true" placeholder="Type"
                         [data]="product ? product.type : null"></app-type-select>

        <app-hair-select [controlName]="intimateHairCtrl" [required]="true" placeholder="Intimate Hair"
                         [data]="product ? product.intimateHair : null"></app-hair-select>

        <app-intimate-select [controlName]="hairColorCtrl" [required]="true" placeholder="Hair Color"
                             [data]="product ? product.hairColor : null"></app-intimate-select>

        <app-orientation [controlName]="orientationCtrl" [required]="true" placeholder="Orientation"
                         [data]="product ? product.orientation: null"></app-orientation>

<!--        <app-region [controlName]="regionCtrl" [required]="true" placeholder="Region"-->
<!--                    [data]="product ? product.region : null"></app-region>-->

      </mat-card>
      <!-- END CONTENT SIDEBAR 1 -->

     <mat-card class="content-sidebar content-sidebar-2">
       <div class="title">
        <h4>Tag</h4>
        </div>

        <mat-form-field appearance="outline" class="w-100">
         <mat-label>Select Tags</mat-label>
         <mat-select formControlName="tags" multiple>
            <mat-option *ngFor="let data of tags" [value]="data._id">
              {{ data.name }}
            </mat-option>
          </mat-select>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </mat-card>
      <!-- END CONTENT SIDEBAR 2 -->

      <!-- <mat-card class="content-sidebar content-sidebar-2">
        <div class="title">
          <h4>Video Url</h4>
        </div>

        <mat-form-field appearance="outline" class="w-100 px-1">
          <mat-label>YouTube Video Url</mat-label>
          <input formControlName="videoUrl" matInput placeholder="Enter video url" />
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </mat-card> -->
      <!-- END CONTENT SIDEBAR 2 -->
    </div>
    <!-- END! SIDE AREA -->
  </div>
</form>

<!-- LOADING TEMPLATE -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
