<section class="add-list">
  <div class="page-header">
    <div class="page-title">
      <h4>Newsletter {{ id ? "Update" : "Add" }}</h4>
    </div>
  </div>
</section>

<section class="from-section">
  <form #formElement="ngForm" [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="area-border">
    <div class="from">
      <mat-label>Newsletter email</mat-label>
      <mat-form-field appearance="outline">
        <input formControlName="email" matInput required/>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>


    <div class="btn">
      <button mat-raised-button type="submit" class="btn-submit">
        {{ id ? "Update" : "Submit" }}
      </button>
      <button type="button" [routerLink]="['../']" mat-raised-button class="btn-submit color">
        Cancel
      </button>
    </div>
  </form>
</section>
